* {
    box-sizing: border-box;
}

html, body {
    margin: 0;             
    padding: 0;            
    overflow: hidden;      
    width: 100vw;          
    height: 100vh;         
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
}

.movement {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 3px solid #4E4EE9;
}

.forward {
    top: 0;
    border-top:none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.backward {
    bottom: 0;
    border-bottom:none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.survival-container{
    position:fixed;
    z-index: 1000;
    top: 2rem;
    right: 2rem;
    color:white;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.survival-ui p {
    margin: 0;
}
.survival-ui {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    gap:1rem;
    font-size: 2rem;
    font-weight: bold;
}

.survival-ui img {
    width: 48px;
    height: 48px;
}


.health-container {
    background-color: #d6161680;
    border: 2px solid #d61616;
    border-radius: 1rem;
}

.ghost-counter {
    background-color: #e3e3ff80;
    border: 2px solid #e3e3ff;
    border-radius: 1rem;
}

.dead-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 9, 9, 0.185);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    z-index: 10000;
    font-weight: bold;
        animation: death-fade 0.5s ease-in-out forwards;

}

.dead-button {
    background-color: #d6161675;
    border: 2px solid #d61616;
    color: white;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;

}

.dead-button:hover {
    filter: brightness(1.2);
}

@keyframes death-fade {
    0% {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(5px);
    }
    
}

.wave-count{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    z-index: 1000;
}

.wave-count h1 {
    margin: 0;
}