<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <div class="HUD">
        <div class="player1-info player-info invisible">
            <div class="gun-display">
                <img src="/public/assets/gun.png">
            </div>
            <div class = "bullet-count"><b class="count">30</b> <span class = "subtext">/ <span class="total-count">INF</span></span></div>
            <p class = "player-no">Player 1</p>
        </div>
        <div class="player2-info player-info invisible">
            <div class="gun-display">
                <img src="/public/assets/gun.png">
            </div>
            <div class = "bullet-count"><b class="count">30</b> <span class = "subtext">/ <span class="total-count">INF</span></span></div>
            <p class = "player-no">Player 2</p>
        </div>
        <div class="player3-info player-info invisible">
            <div class="gun-display">
                <img src="/public/assets/gun.png">
            </div>
            <div class = "bullet-count"><b class="count">30</b> <span class = "subtext">/ <span class="total-count">INF</span></span></div>
            <p class = "player-no">Player 3</p>
        </div>
        <div class="player4-info player-info invisible">
            <div class="gun-display">
                <img src="/public/assets/gun.png">
            </div>
            <div class = "bullet-count"><b class="count">30</b> <span class = "subtext">/ <span class="total-count">INF</span></span></div>
            <p class = "player-no">Player 4</p>
        </div>
    </div>
    <div class="player1 player invisible">
        <div class="cross1 cross_horizontal"></div>
        <div class="cross2 cross_horizontal"></div>
        <div class="cross3 cross_vertical"></div>
        <div class="cross4 cross_vertical"></div>
    </div>
    <div class="player2 player invisible">
        <div class="cross1 cross_horizontal"></div>
        <div class="cross2 cross_horizontal"></div>
        <div class="cross3 cross_vertical"></div>
        <div class="cross4 cross_vertical"></div>
    </div>
    <div class="player3 player invisible">
        <div class="cross1 cross_horizontal"></div>
        <div class="cross2 cross_horizontal"></div>
        <div class="cross3 cross_vertical"></div>
        <div class="cross4 cross_vertical"></div>
    </div>
    <div class="player4 player invisible">
        <div class="cross1 cross_horizontal"></div>
        <div class="cross2 cross_horizontal"></div>
        <div class="cross3 cross_vertical"></div>
        <div class="cross4 cross_vertical"></div>
    </div>
    <button id="toggle" data-dark="false"></button>
    <div class="difficulty-container">
        <button id="easy" class="difficulty">Easy</button>
        <button id="mid" class="difficulty">Medium</button>
        <button id="marksmen" class="difficulty">Marksman</button>
    </div>
    <div id="backdrop">
        <img src="/public/assets/range.PNG" class="backdrop-image toggle">

        <img class="toggle humps">
        <img class="roof" src="/public/assets/roof.PNG">
        <img class="table" src="/public/assets/table.PNG">
        <div id="ets-container">
            <img src="/public/assets/ets-monitor.PNG" class="ets-monitor">
            <div id="etsScreen">
                <div class="screen-target">
                    <img src="/public/assets/target-bw.PNG" id="ScreenTarget">
                </div>
                <div class="accuracy-container hide">
                    <div class="accuracy-count" id="accuracyCount">0/0</div>
                    <div class="accuracy-value" id="accuracyValue">0%</div>

                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/clientSocket.js"></script>
    <script src="/public/js/loadEnv.js"></script>
    <script src="/public/js/level.js"></script>
    <script src="/public/js/shootclick.js"></script>
    <script src="/public/js/resultDisplay.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>