<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <style>
        
    </style>
    <div class = "player1 player">
        +
    </div>
    <div class = "player2 player">
        +
    </div>
    <script src = "/public/js/clientSocket.js"></script>
    <script src="/public/js/loadEnv.js"></script>
    <script src="/public/js/level.js"></script>
    <script src="/public/js/shoot.js"></script>
    <script src="/public/js/shootclick.js"></script>  
    <script src="/public/js/target.js"></script>
    <script src="/public/js/resultDisplay.js"></script>     
    <script src="/public/js/main.js"></script>   
</body>
</html>