<!DOCTYPE html>
<html>
  <head>
    <title>Trigger Mechanism</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <div class="handle-container">
      <input type="range" id="handle" min="0" max="100" value="100">
      <div id="speedHandle">Speed: 0 units/second</div>
    </div>
    
    <div class="trigger-container">
      <input type="range" id="trigger" min="0" max="100" value="100">
      <div id="speed">Speed: 0</div>
      <div id="fire">🔥</div>
    </div>
    <div id="counter">Fires: 0</div>
    
    <button id="roundsBtn">Rounds Left: 0</button>
    <button id="resetBtn">Load New Magazine</button>
    
    <button id="safetyBtn">Safety On</button>
    <button id="shoot">FIRE</button>
    <script src="/public/js/mobile.js"></script>
    <script src="/public/js/scripts.js"></script>
  </body>
</html>
