<!DOCTYPE html>
<html>
  <head>
    <title>Trigger Mechanism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/mobileui.css">
  </head>
  <body>
    <div class="handle-container">
      <input type="range" id="handle" min="-500" max="0" value="0">
      <div id="speedHandle">Handle Speed: 0</div>
<!--       <span id="distValue">0px</span> -->
    </div>
    <br>
  
    <div id="bolt">
      <button id="jamFixBtn"></button>
      <div id="barrelCover"></div>
    </div>

    <div class="trigger-container">
      <input type="range" id="trigger" min="0" max="100" value="100">
      <div id="speed">Trigger Speed: 0</div>
      <div id="fire">🔥</div>
    </div>
  
<!--     <div id="counter">Fired: 0</div> -->
    <div id="roundsLeft">Rounds Left: 0</div>
    <button id="resetBtn">Load New Magazine</button>

    <button id="safetyBtn">Safety On</button>
    
      <button id="fullscreenBtn" onclick="toggleFullscreen()">Enter Fullscreen</button>
    
    <button id="lastRoundCatch">Last Round Catch</button>

    <div id="motionDebug" style="margin-top: 20px; font-weight: bold; color: black;">
  Accelerometer Y: <span id="accY">0</span>
</div>
    <div id="gear">⚙️</div>
    <script src="/public/js/mobile.js"></script>
    <script src="/public/js/mobileui.js"></script>
  </body>
</html>
